* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* ini css sidebar */
.sidebar {
  width: 300px;
  left: 0;
  right: 0;
  height: 100%;
  position: fixed;
  z-index: 1;
  transition: 0.3s;
  box-shadow: 0 0 20px #aaa;
}
.sidebaropen {
  left: 0;
  width: 70px;
}

.judul {
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid white;
}
.judulalt {
  display: none;
}
.openjudulalt {
  display: block;
  border-bottom: 1px solid white;
  height: 70px;
  line-height: 70px;
  height: 70px;
  line-height: 70px;
  margin: 0;
}

.closejudul {
  display: none;
}

.foto {
  text-align: center;
  height: 100px;
  width: 100%;
  margin-bottom: 30px;
}
.foto img {
  border-radius: 50%;
  padding: 5px;
  box-sizing: border-box;
  background-color: white;
  height: 80px;
  width: 80px;
}

.fotoalt {
  text-align: center;
  height: 50px;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 20px;
}

.fotoalt img {
  border-radius: 50%;
  padding: 5px;
  box-sizing: border-box;
  background-color: white;
  height: 40px;
  width: 40px;
}

.fotoalt h4 {
  font-size: smaller;
}

.menus a {
  display: block;
  width: 100%;
  color: white;
  text-decoration: none;
  padding: 7px 15px;
}
.menus a:hover {
  color: rgb(44, 54, 194);
  text-decoration: none;
  background-color: #ffffff;
}
.menucenter {
  text-align: center;
  margin: 0;
  width: 100%;
}
.titlealt {
  margin-left: 10px;
}
.titleclose {
  display: none;
}

/* ini css page */
.page {
  height: 100%;
  margin-left: 300px;
  transition: 0.3s;
}
.pageopen {
  margin-left: 70px;
}
.navbar {
  height: 70px;
  background-color: white;
}

.leftright {
  margin-left: 16px;
  margin-right: 16px;
}

/* ini css login */
.centerwrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.login {
  display: flex;
  width: 70%;
  box-shadow: 0 0 20px #ccc;
}
.kiri img {
  width: 500px;
  height: auto;
}
.kiri {
  width: 100%;
  padding: 20px;
}
.kanan {
  width: 100%;
  padding: 20px;
}

/* ini css form */

@media (max-width: 600px) {
  /* ini css sidebar */
  .sidebar {
    width: 70px;
    top: 70px;
    left: 0px;
    position: absolute;
  }
  .sidebaropen {
    left: 0;
    width: 300px;
  }

  .foto {
    text-align: center;
    height: 50px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .foto img {
    border-radius: 50%;
    padding: 5px;
    box-sizing: border-box;
    background-color: white;
    height: 40px;
    width: 40px;
  }
  .foto h4 {
    font-size: smaller;
  }
  .fotoalt {
    text-align: center;
    height: 100px;
    width: 100%;
    margin-bottom: 30px;
  }
  .fotoalt img {
    border-radius: 50%;
    padding: 5px;
    box-sizing: border-box;
    background-color: white;
    height: 80px;
    width: 80px;
  }
  .fotoalt h4 {
    font-size: 1.2rem;
  }

  .judul {
    display: none;
  }
  .judulalt {
    display: block;
    width: 100%;
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid white;
  }

  .menucenter {
    text-align: left;
  }
  .menuitem {
    width: 100%;
    text-align: center;
  }

  .titlealt {
    display: none;
  }
  .titleclose {
    display: inline-block;
  }

  /* ini css page */
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
  }
  .page {
    margin-left: 70px;
  }
  .pageopen {
    margin-left: 300px;
  }
  .leftright {
    margin-top: 70px;
  }

  /* ini css login */

  .login {
    width: 90%;
    height: 100%;
    flex-direction: column;
  }

  .kiri img {
    width: 200px;
  }
}
